/* 
Order of implementing CSS
1. Imports
2. Mobile and General
2a. General
2b. Mobile
3. Midsize
4. Large
5. Really Large
*/

/* =======================
        Mobile/General
========================== */
body {
    background-color: lightcyan;
    text-align: center;
    padding: 1.5rem;
}
p, ul {
    font-family: Arial;
}
h1, h2 {
    font-family: 'Lora', serif;
    color: darkblue;
}
nav hr {
    margin: 1.5rem;
    margin-top: -1em;
    border: .5px solid black;
}
nav {
    background-color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}
ul {
    /* Got help with centering the list here: https://stackoverflow.com/questions/19443013/how-to-center-an-unordered-list */
    display: table;
    margin: 0 auto;
    text-align: left;
    list-style-type: none;
    margin-top: -1em;  
}

/* 4. Large Device */
.centerBox {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    padding: 4px;
    margin: 0 auto;
    margin-bottom: -1em;
}

img {
    max-width: 40%;
    height: auto;
    border-radius: 2%;  
    box-shadow: 2px 2px 20px; 
    margin-bottom: 5%;
}

p {
    padding-left: 15%;
    padding-right: 10%;
    margin: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    
}

#design-principles-main {
    max-width: 1000px;
    margin: 0 auto;
}

#design-principles-main h1, h2 {
    margin-bottom: 20px;
}

#design-principles-main h1 {
    margin-top: 40px;
    background-color: white;
    
}

#design-principles-main hr {
    border: .5px solid black;
    margin-top: 20px;
}

#design-principles-main img {
    margin-bottom: 2px;
}

#home-link {
    text-decoration: none;
}

#design-principles-main a {
    margin-bottom: 30px;
}

#design-principles-box {
    background-color: white;
    margin: 3%;
}



/* =========================
        Medium
============================ */

@media (min-width: 32.5em) {
    
    .centerBox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;
        background-color: white;
        max-width: 800px;
        border-radius: 1%;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    
    nav {
        grid-column: 1 / 3;
        grid-row: 1/2;
        margin-top: 10px;
        margin-left: 50px;
    }
    #main-image {
        grid-column: 3/5;
        margin-top: 20px;
    }
    
    h1, footer {
        background-color: lightcyan;
    }
    h1 {
        font-size: 42px;
    }

    img {
        max-width: 45%;
    }

    .grid1, .grid2, .grid3 {
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin: 2px auto;
        gap: 2em;
    }
}

/* ===================
        large
=================== */

@media (min-width: 78.5em) {
    #design-principles-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    #design-principles-main h1 {
        padding: 0px;
    }
    #design-principles-main img {
        max-width: 100%;
    }
    
    #alignment h1 {
        margin-bottom: 100px;
        padding-top: 80px;
    }
    
    #contrast h1 {
        margin-bottom: 100px;
        padding-top: 80px;
    }
    .grid1, .grid2, .grid3 {
        grid-template-columns: 1fr;
    }
    p {
        margin: -5px;
        margin-top: 10px;
        padding: 2px;
    }
    .trainline-link {
        margin-bottom: 200px;
    }
}